[submodule "cli_bench"]
	path = the_genesis_engine/components/cli_bench
	url = https://github.com/LordMartron94/CLI-Bench
	branch = main
[submodule "MD.Logging"]
	path = the_genesis_engine/components/MD.Logging
	url = https://github.com/LordMartron94/CBA-Logger
	branch = main
[submodule "MD.Common"]
	path = the_genesis_engine/components/MD.DotNet.Common
	url = https://github.com/LordMartron94/MD.Common
	branch = main
[submodule "MD.CBAConnector.DotNet"]
	path = the_genesis_engine/components/MD.CBAConnector.DotNet
	url = https://github.com/LordMartron94/CBA-DotNet-Communicator
	branch = main
